#centre {
    text-align: center;
}

.padding {
	margin: 10px;
}

.feature-left  {
    float: left;
    margin-left: 10px;
}

.feature-right  {
    float: right;
    margin-right: 10px;
}

button {
	padding:5px 15px; 
	background: #5394fc; 
	border:0 none;
	cursor:pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
}

.footer-text{
	color: #C0C0C0;
}

html, body {
  height: 100%;
  margin: 0;
/*  background-color: #cfe0fc; */
}

.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}
.footer,
.push {
  height: 50px;
}
